.outer-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container-login {
  display: block;
  width: 100vw;
  gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: space-between;
}

.left-auth-details {
  font-size: 1rem;
}

.left-auth-details h1 {
  background: linear-gradient(#c62828, #f49f85);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-auth-details p {
  display: none;
}

@media only screen and (width >= 760px) {
  .left-auth-details {
    font-size: 2rem;
  }

  .left-auth-details p {
    display: block;
  }

  .inner-container-login {
    display: flex;
  }
}

.right-auth-forms {
  display: flex;
  flex-direction: column;
}

.login-form-forgot {
  float: right;
}



.login-form-button {
  width: 100%;
}
