.outer-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container-login {
  display: flex;
  width: 100vw;
  gap: 2rem;
  margin-left: 10rem ;
  margin-right: 10rem;
  justify-content: space-between;
}
.left-auth-details{
    font-size: 2rem;
    
}
.left-auth-details h1{
    background: -webkit-linear-gradient(#C62828, #F49F85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 760px) {
    .left-auth-details{
        font-size: 1rem;
    }
    .left-auth-details p {
        display: none;
    }
    .inner-container-login{
        display: block;
        
    }
}
.right-auth-forms {
  display: flex;
  flex-direction: column;
}

.login-form {
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
